@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/wintry';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@variant dark (&:where(.dark, .dark *));

html,
body {
	@apply h-full;
	font-family: 'Lato', sans-serif;
}

.input {
	@apply focus:ring-2 focus:outline-none;
}

.label {
	@apply flex flex-col gap-1 mb-3;
}

.table-responsive {
	@apply overflow-x-auto w-full;
}

dialog {
	padding: 0;
	border: none;
	background: transparent;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
}
